.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.BlogPreviewCard {
    display: flex;
    flex-direction: column;
    padding: 24px 24px;
    border: 1.5px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 0 hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
}

.SVGBanner img {
    border-radius: 10px;
    max-width: 100%;
}

h1 {
    padding: 24px 0 0 0;
    font-weight: 800;
    font-size: 1em;
}

h1 .Border{
    border: 2px solid hsl(47, 88%, 63%);
    border-radius: 4px;
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
}

p {
    padding-top: 20px;
    font-size: 1em;
}

h2 {
    padding-top: 12px;
    font-weight: 800;
    font-size: 1.5em;
}

h2:active {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.CardDescription {
    color:hsl(0, 0%, 50%);
    line-height: 1.3em;
}

.author-profile {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 15px;
}

.author-profile img { 
    height: 32px;
    width: auto;
}

.author-profile p {
    font-weight: 800;
    padding-bottom: 15px;
}

.attribution {
    text-align: center;
    padding: 5em;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}

@media (min-width: 375px){
    main{
        margin: 4em auto;
        max-width: 375px;
    }
    .BlogPreviewCard{
        background-size: contain;
        width: 100%;
    }
} 

